@font-face {
  font-family: 'Roboto-Light';
  src: url('../assets/fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Cambo';
  src: url('../assets/fonts/Cambo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('../assets/fonts/JetBrainsMono-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'IBMPlexMono';
  src: url('../assets/fonts/IBMPlexMono-Regular.ttf') format('truetype');
}

input, textarea {
  font-family: 'Roboto-Light', sans-serif;
}