// Color Variables
$space-cadet: #2B2D42;
$jet: #33312E;
$red: #ff0000ff;
$cyan: #25F4EE;
$snow: #FFF7F8;

$dark-color: $jet;
$secondary-color: $space-cadet;
$primary-color: $red;
$accent-color: $cyan;
$light-color: $snow;

$sidebar-width: 80px;
$sidebar-expanded-width: 180px;
$content-padding: 2rem;
$mobile-breakpoint: 768px;
$tablet-breakpoint: 1200px;