html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 300 12px/1.6 'Roboto-light', 'sans-serif';
  color: #FFF7F8;
  background-color: #33312E;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
